:root {
    --primary-bg: #0a0a0a;
    --secondary-color: #ffcc00;
    --text-color: #ffffff;
}

* {
    margin: 6px;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 10px;
    transition: transform 0.3s;
    min-height: 570px;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    padding: 38px;
    width: 140px;
    border-radius: 10px;
    height: 140px;
}

.like-section {
    display: flex;
    align-items: center;
}

.card button {
    border: none;
    background: var(--secondary-color);
    color: rgb(85, 85, 85);
    padding: 8px 16px;
    border-radius: 10px;
}

.card button.liked {
    background: rgb(128, 128, 128);
}

.card button:hover {
    background: rgb(207, 162, 0);
}

.card button.liked:hover {
    background: rgb(159, 159, 159);
}

.card a {
    color: var(--secondary-color);
}

.card .remove-button {
    margin-top: 24px;
    background: #ff0000;
    color: white;
}

.card .remove-button:hover {
    background: #9c0000;
}
