* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --ms-blue: #0067b8;
    --ms-dark: #2f2f2f;
    --ms-light: #f2f2f2;
    --ms-gray: #616161;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Top Bar Styles */
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
    height: 32px;
    margin: 7px;
}

.left-bar {
    margin-left: 64px;
}

.right-bar {
    margin-right: 82px;
}

.left-bar, .right-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.top-bar a {
    text-decoration: none;
    color: var(--ms-gray);
    font-size: 16px;
    transition: color 0.3s ease;
    align-items: center;
}

.top-bar a:hover {
    text-decoration: underline;
}

/* Blue Header */
.blue-header {
    background-color: #0067B8;
    text-align: center;
    padding: 24px 0;
    width: 100%;
    position: relative;
}

.blue-header a {
    display: block;
    text-decoration: none;
}

.blue-header p {
    color: white;
    font-size: 20px;
}

/* Hero Container Styles */
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    background: #fde8e1;
}

.hero-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.hero-title {
    font-size: 64px;
    color: #000000;
}

.intel-logo {
    height: 50px;
}

.hero-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.hero-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}

.hero-cards {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.hero-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    padding: 32px;
    width: 580px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
}

.hero-card img {
    width: 100%;
    border-radius: 8px;
}

.hero-card h3 {
    font-size: 1.3rem;
    margin: 10px 0;
}

.hero-card p {
    font-size: 20px;
    color: #343434;
    margin-bottom: 15px;
}

.hero-btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 64px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #0067b8;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    align-self: flex-start;
}

.hero-btn:hover {
    background-color: #005aa7;
}
